.section.item_search
  .container
    .row
      - if @items.size > 0
        %table.table.table-striped.table-condensed
          %tr
            %th Title
            %th Author
            %th Manufacturer
            %th ProductGroup
            %th ASIN
            %th SmallImage
          - @items.each do |item|
            %tr
              %td= link_to item.title, new_post_url(asin: item.asin)
              %td= item.author
              %td= item.manufacturer
              %td= item.product_group
              %td= item.asin
              %td= image_tag item.image_url

        = paginate @items
      - else
        検索結果が見つかりません
