.row.well
  .col-md-2
    = image_tag item.image_url, class: 'img-responsive img-thumbnail'
  .col-md-10.section-box
    %h4
      = link_to item.title, item.url, target: :_blank
      %small= "[#{item.item_binding}]"
    = item.author
    %br
    = item.manufacturer
    %small= "(#{item.release_date})"    
