%footer.footer
  .container
    .row
      .col-sm-6
        .footer_copyright
          @tokzk ©2015 All rights reserved.
      .col-sm-6
        %p.text-info.text-right
          %br/
          %br/
        .row
          .col-md-12.hidden-lg.hidden-md.hidden-sm.text-left
            = link_to "#" do
              = icon('instagram', '', class: 'fa-3x fa-fw text-inverse')
            = link_to "#" do
              = icon('twitter', '', class: 'fa-3x fa-fw text-inverse')
            = link_to "#" do
              = icon('facebook', '', class: 'fa-3x fa-fw text-inverse')
            = link_to "#" do
              = icon('github', '', class: 'fa-3x fa-fw text-inverse')
        .row
          .col-md-12.hidden-xs.text-right
            = link_to "#" do
              = icon('instagram', '', class: 'fa-3x fa-fw text-inverse')
            = link_to "#" do
              = icon('twitter', '', class: 'fa-3x fa-fw text-inverse')
            = link_to "#" do
              = icon('facebook', '', class: 'fa-3x fa-fw text-inverse')
            = link_to "#" do
              = icon('github', '', class: 'fa-3x fa-fw text-inverse')
