!!!
%html
  %head
    %title= Settings.app_name
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body

    = render "header"
    = bootstrap_flash(class: "container")

    .body
      .container
        .row
          .col-md-12
            = yield
 
    = render "footer"
