!!!
%html
  %head
    %meta{charset: "UTF-8"}
    %title= content_for?(:title) ? yield(:title) : 'Bplog'
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %meta{name: "description", content: "#{content_for?(:description) ? yield(:description) : 'Bplog'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    - if signed_in?
      %header
        = render 'layouts/navigation'
      %main#main{role: "main"}
        = render 'layouts/messages'
        = yield
    - else
      %main#top{role: "main"}
        = yield
    = render "layouts/footer"
